<h2 class="page-header">Miner Register</h2>
<form method="post" action="/miners/register">
  <div class="form-group">
    <label>Your ip address will be registered</label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>